
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 100px;
    font-family:"Open Sans", sans-serif;
    font-size:medium;
    line-height: 1.7;
    color: #333333;
    background-color: white;
    text-rendering: optimizeLegibility
}

p {
  font-size: clamp(16px, 2vw, 22px);
  text-align:center;
  margin-bottom: 1.25rem;
  /* NUEVO: Límite de ancho para mejor legibilidad */
  max-width: 95%;
}

strong {
  font-weight:600;
  color: #333333;
}

/* Para que las imagenes sean "Responsive" */
img {
  max-width: 100%;
  height: auto;
}

/* -----------CLASES---------- */

/* HEADER */
.header {
  padding: 24px 0;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_logo {
  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
  height: 500px;           /* importante si quieres centrado vertical */
}

/* MAIN */
/* SECTION: SOBRE NOSOTROS */
.section_sobrenosotros {
    /* background-color: #EEF0F7; */
    padding: 20px;
}

/* SECTION: TIPOS PROYECTOS */
.section_tiposproyectos_container {
  background-color: #EEF0F7;  
  margin: 20px;
  padding: 20px;
}

/* SECTION: PRODUCTOS */
.section_productos {
    padding: 50px;
}

.section_productos_container {
  display: grid;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
  height: 300px;
  gap: 50px; /* espacio entre elementos */
}

/* SECTIO:PROYECTOS */
.section_proyectos_container {
  background-color: #EEF0F7;
  padding: 60px;
}

.section_proyectos_p {
    text-align:justify;
}

/* SECTION:CONTACTO */
.contacto_img {
  display: flex;
  justify-content: center;
}

/* FOOTER */
.footer {
  display: flex; /*activa el modo de mover containers en linea*/
  justify-content: center; /*centra horizontal*/
  align-items: center; /*centra vertical*/
  gap: 50px; /*distancia entre containers*/
}